################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/UnityEngine.UI.Player.csproj
/UnityEngine.UI.csproj
/UnityEngine.TestRunner.Player.csproj
/UnityEngine.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEditor.TestRunner.csproj
/Unity.VSCode.Editor.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.VisualScripting.State.Player.csproj
/Unity.VisualScripting.State.Editor.csproj
/Unity.VisualScripting.State.csproj
/Unity.VisualScripting.Shared.Editor.csproj
/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Unity.VisualScripting.Flow.Player.csproj
/Unity.VisualScripting.Flow.Editor.csproj
/Unity.VisualScripting.Flow.csproj
/Unity.VisualScripting.Core.Player.csproj
/Unity.VisualScripting.Core.Editor.csproj
/Unity.VisualScripting.Core.csproj
/Unity.Timeline.Player.csproj
/Unity.Timeline.Editor.csproj
/Unity.Timeline.csproj
/Unity.TextMeshPro.Player.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.Services.Relay.Player.csproj
/Unity.Services.Relay.csproj
/Unity.Services.QoS.Player.csproj
/Unity.Services.QoS.csproj
/Unity.Services.Core.Threading.Player.csproj
/Unity.Services.Core.Threading.csproj
/Unity.Services.Core.Telemetry.Player.csproj
/Unity.Services.Core.Telemetry.csproj
/Unity.Services.Core.Scheduler.Player.csproj
/Unity.Services.Core.Scheduler.csproj
/Unity.Services.Core.Registration.Player.csproj
/Unity.Services.Core.Registration.csproj
/Unity.Services.Core.Player.csproj
/Unity.Services.Core.Networking.Player.csproj
/Unity.Services.Core.Networking.csproj
/Unity.Services.Core.Internal.Player.csproj
/Unity.Services.Core.Internal.csproj
/Unity.Services.Core.Environments.Player.csproj
/Unity.Services.Core.Environments.Internal.Player.csproj
/Unity.Services.Core.Environments.Internal.csproj
/Unity.Services.Core.Environments.csproj
/Unity.Services.Core.Editor.csproj
/Unity.Services.Core.Device.Player.csproj
/Unity.Services.Core.Device.csproj
/Unity.Services.Core.csproj
/Unity.Services.Core.Configuration.Player.csproj
/Unity.Services.Core.Configuration.Editor.csproj
/Unity.Services.Core.Configuration.csproj
/Unity.Services.Core.Analytics.Player.csproj
/Unity.Services.Core.Analytics.csproj
/Unity.Services.Authentication.Player.csproj
/Unity.Services.Authentication.Editor.csproj
/Unity.Services.Authentication.csproj
/Unity.Rider.Editor.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.Networking.Transport.Player.csproj
/Unity.Networking.Transport.csproj
/Unity.Networking.Editor.csproj
/Unity.Netcode.Runtime.Player.csproj
/Unity.Netcode.Runtime.csproj
/Unity.Netcode.Editor.csproj
/Unity.Netcode.Editor.CodeGen.csproj
/Unity.Netcode.Components.Player.csproj
/Unity.Netcode.Components.csproj
/Unity.Netcode.Adapter.UTP.Player.csproj
/Unity.Netcode.Adapter.UTP.Editor.csproj
/Unity.Netcode.Adapter.UTP.csproj
/Unity.Mathematics.Player.csproj
/Unity.Mathematics.Editor.csproj
/Unity.Mathematics.csproj
/Unity.InputSystem.Player.csproj
/Unity.InputSystem.csproj
/Unity.Collections.Player.csproj
/Unity.Collections.DocCodeSamples.csproj
/Unity.Collections.csproj
/Unity.Collections.BurstCompatibilityGen.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.Burst.Player.csproj
/Unity.Burst.Editor.csproj
/Unity.Burst.csproj
/Unity.Burst.CodeGen.csproj
/Temp
/obj
/Logs
/Library
/com.unity.cinemachine.editor.csproj
/ClientNetworkTransform.Player.csproj
/Cinemachine.Player.csproj
/Cinemachine.csproj
/Assets
/Assembly-CSharp.Player.csproj
/.vs
